*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper-container {
  overflow-x: hidden;
  background-color: #ffffff;
}

:root {
  --bg-1: linear-gradient(
    0deg,
    rgba(226, 241, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --bg-2: linear-gradient(
    180deg,
    rgba(252, 248, 255, 1) 0%,
    rgba(242, 248, 255, 1) 100%
  );
  --purple: #722ed1;
  --light-purple: #f7f1ff;
  --secondary-font-color: hsl(0, 0%, 42%);
  --secondary-font-size: 1.1rem;
}

/* Common For All */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
}

li, .btn, .trial-btn, .toggle-bar {
    -webkit-tap-highlight-color: transparent;
}

.p-15 {
  padding: 15px;
}

.navbar-container,
.hero-container,
.mid-container,
.footer-container {
  max-width: 1100px;
  margin: auto;
}

.btn {
  padding: 8px 25px;
  border-radius: 100vmax;
  border: 2px solid var(--purple);
  color: var(--purple);
  cursor: pointer;
  font-size: 1rem;
  background-color: #ffffff;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  position: relative;
}

.btn:active {
  transform: translateY(3px);
}

.btn:hover {
  color: #ffffff;
  z-index: 0;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 200px;
  background-color: var(--purple);
  border-radius: 100vmax;
  transform: translate(-25px, -75px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
}

.btn:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-13px, -75px);
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/* Hamburger */
.toggle-bar {
  width: 46px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 5px;
  border-radius: 100vmax;
  background-color: var(--purple);
  display: block;
  margin: 50% auto;
  position: relative;
  transform: rotate(0deg);
  transition: 0.3s;
}

.bar::before {
  position: relative;
  content: "";
  display: block;
  width: 45px;
  height: 5px;
  border-radius: 100vmax;
  background-color: var(--purple);
  bottom: 16px;
  transition: 0.3s;
}

.bar::after {
  position: relative;
  content: "";
  display: block;
  width: 45px;
  height: 5px;
  border-radius: 100vmax;
  background-color: var(--purple);
  top: 12px;
  transform: rotate(180deg);
  transition: 0.3s;
}

.toggle-bar.active .bar::before {
  opacity: 0;
  transition: 0.3s;
}

.toggle-bar.active .bar::after {
  transform: rotate(90deg);
  transition: transform 0.3s;
  top: -4px;
}

.toggle-bar.active .bar {
  transform: rotate(45deg);
  transition: transform 0.3s;
  transition: 0.3s;
}

/* Hamburger Menu */
@media only screen and (max-width: 767px) {
  .nav-elements {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 80px;
    right: -100%;
    transition: 0.3s;
    background: linear-gradient(
      0deg,
      rgb(232, 215, 244) 0%,
      rgb(224, 235, 249) 100%
    );
    border-radius: 15px;
    padding: 15px;
    z-index: 10;
  }

  .grow-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .nav-elements.active {
    right: 20px;
  }

  .nav-btn {
    border: none;
  }
}

.grow-list .list-item a {
  color: #000000;
  transition: 0.2s;
}

.grow-list .list-item a:hover {
  color: var(--purple);
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.grow-list li:nth-child(1)::after {
  position: relative;
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  top: -2px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  margin-left: 7px; 
  rotate: 45deg;
}

.grow-list li:nth-child(1):hover::after {
  transform: scale(1.1);
  border-color: var(--purple);
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
  border-color: transparent;
  transition: 0.2s;
}

/* Hero Section */
.header-section {
  background: var(--bg-1);
  transform: skew(0, -5deg);
}

.header-content {
  transform: skew(0, 5deg);
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.highlight {
  background-color: var(--light-purple);
  padding: 10px 20px;
  border-radius: 100vmax;
  color: var(--purple);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.highlight a {
  text-decoration: underline;
  color: var(--purple);
}

.highlight a:hover {
  color: #4c1994;
}

.hero-heading {
  font-size: 2.5rem;
  line-height: 3rem;
  max-width: 380px;
}

.hero-description {
  font-size: var(--secondary-font-size);
  color: var(--secondary-font-color);
  max-width: 500px;
}

.hero-btn-1 {
  background-color: var(--purple);
  color: #ffffff;
  border: none;
}

.hero-btn-1:hover {
  color: var(--purple);
}

.hero-btn-1::after {
  background-color: #ffffff;
}

.hero-btn-2 {
  border: none;
}

.hero-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-img {
  width: 100%;
  max-width: 500px;
}

/* Mid Section */
.mid-container {
  padding-top: 100px;
}

.mid-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mid-heading {
  text-align: center;
}

.mid-description {
  text-align: center;
  max-width: 800px;
  color: var(--secondary-font-color);
  font-size: var(--secondary-font-size);
}

.mid-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-heading {
  text-align: center;
}

.card-description {
  text-align: center;
  max-width: 350px;
  font-size: var(--secondary-font-size);
  color: var(--secondary-font-color);
}

/* Product Teams */
.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
}

.team-img {
  width: 100%;
  max-width: 450px;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.team h2 {
  line-height: 2.8rem;
}

.team p {
  font-size: var(--secondary-font-size);
  color: var(--secondary-font-color);
  max-width: 510px;
}

.engineering-team {
  margin-top: 120px;
}

.engineering-team img {
  order: 1;
}

.engineering-team .team {
  order: 2;
}

@media only screen and (min-width: 1082px) {
  .engineering-team img {
    order: 2;
  }

  .engineering-team .team {
    order: 1;
  }

  .engineering-team {
    gap: 0;
  }
}

/* CTO Section */
.cto-section {
  background: var(--bg-2);
  transform: skew(0, -5deg);
  margin-top: 100px;
  padding: 60px 0px;
}

.cto-container {
  transform: skew(0, 5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cto-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cto-description {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 1100px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  font-weight: 700;
}

.logo-container {
  border-top: 2px solid rgb(216, 210, 235);
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 100px;
}

/* Mid Bottom / Sign Up Form */
.mid-bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  row-gap: 100px;
  margin-top: 150px;
}

.mid-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 450px;
}

.mid-bottom-left p {
  color: var(--secondary-font-color);
  font-size: var(--secondary-font-size);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mid-bottom-left p::before {
  content: "";
  display: block;
  position: absolute;
  right: 65%;
  top: 50%;
  width: 35%;
  height: 2px;
  background: #cbcbcb;
}

.mid-bottom-left p::after {
  content: "";
  display: block;
  position: absolute;
  left: 65%;
  top: 50%;
  width: 35%;
  height: 2px;
  background: #cbcbcb;
}

.mid-bottom-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  column-gap: 120px;
  max-width: 400px;
}

.sign-up {
  background-color: #f9f0ff;
  padding: 0px 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  padding: 30px 40px;
  position: relative;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #afafaf;
}

.sign-up-heading {
  font-size: 2rem;
}

.trial-btn {
  padding: 12px 20px;
  font-size: 1rem;
  width: 100%;
  background-color: var(--purple);
  color: #ffffff;
  border: 2px solid var(--purple);
  border-radius: 2px;
  cursor: pointer;
}

.trial-btn:hover {
  background-color: #ffffff;
  color: var(--purple);
}

.sign-up-container input {
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  border: 1px solid #bcbcbc;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #bcbcbc;
}

.sign-up-container > span {
  color: var(--secondary-font-color);
  text-align: center;
}

.sign-up-container > span > a {
  text-decoration: none;
  color: var(--purple);
  font-weight: 500;
}

.sign-up-container > span > a:hover {
  text-decoration: underline;
}

/* Footer */
.footer-section {
  background-color: #fbfcff;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  max-width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.9rem;
}

.footer-list a {
  color: #000000;
  font-weight: 500;
}

.footer-list a:hover {
  color: var(--purple);
}

.footer-email-container {
  position: relative;
}

.footer-email-container input {
  padding: 10px 15px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 5px hsl(0, 0%, 78%);
}

.footer-email-container input:focus {
  outline: none;
}

.send-icon {
  position: absolute;
  top: 25%;
  right: 5%;
  cursor: pointer;
}

/* For Larger Screens */
@media only screen and (min-width: 768px) {
  /* Navbar */
  .toggle-bar {
    display: none;
  }

  .navbar-container {
    padding-top: 30px;
  }

  .nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .grow-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  /* Hero Section */
  .hero-container {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 20px;
  }

  .hero-left {
    gap: 35px;
  }

  .hero-heading {
    font-size: 3rem;
    max-width: 460px;
    line-height: 3.3rem;
  }

  /* Mid Bottom / Sign up */
  .sign-up-container {
    padding: 30px 50px;
  }

  /* Footer */
  .footer-container {
    padding-bottom: 100px;
  }
}
