Other Practices/Food Deliver Project (HTML CSS)/
All Projects/3.Project 27th Nov VS Code Clone/tailwind.config.js/
All Projects/4. Credit Card Landing Page (Dec 10th-11th)/tailwind.config.js/
Other Practices/JavaScript Practice/node_modules/
Assignments/JavaScript Assignments/node_modules/

# React Todo App
# dependencies
All Projects/11. Todo App React/todo-app/node_modules/
All Projects/11. Todo App React/todo-app/.pnp/
All Projects/11. Todo App React/todo-app.pnp.js
# testing
All Projects/11. Todo App React/todo-app/coverage/
# production
All Projects/11. Todo App React/todo-app/build/
# misc
All Projects/11. Todo App React/todo-app/.DS_Store
All Projects/11. Todo App React/todo-app/.env.local
All Projects/11. Todo App React/todo-app/.env.development.local
All Projects/11. Todo App React/todo-app/.env.test.local
All Projects/11. Todo App React/todo-app/.env.production.local

All Projects/11. Todo App React/todo-app/npm-debug.log*
All Projects/11. Todo App React/todo-app/yarn-debug.log*
All Projects/11. Todo App React/todo-app/yarn-error.log*


# Rock Paper Scissors React
# Logs
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/logs
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.log
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/npm-debug.log*
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/yarn-debug.log*
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/yarn-error.log*
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/pnpm-debug.log*
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/lerna-debug.log*

All Projects/12. Rock Paper Scissors React/rock-paper-scissors/node_modules/
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/dist
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/dist-ssr
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.local

# Editor directories and files
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/.vscode/*
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/!.vscode/extensions.json
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/.idea
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/.DS_Store
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.suo
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.ntvs*
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.njsproj
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.sln
All Projects/12. Rock Paper Scissors React/rock-paper-scissors/*.sw?

# Video Streaming Application MERN
# Backend
All Projects/13. Video Streaming Application React/video-streaming-app/server/node_modules/
# Frontend
# Logs
All Projects/13. Video Streaming Application React/video-streaming-app/client/logs
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.log
All Projects/13. Video Streaming Application React/video-streaming-app/client/npm-debug.log*
All Projects/13. Video Streaming Application React/video-streaming-app/client/yarn-debug.log*
All Projects/13. Video Streaming Application React/video-streaming-app/client/yarn-error.log*
All Projects/13. Video Streaming Application React/video-streaming-app/client/pnpm-debug.log*
All Projects/13. Video Streaming Application React/video-streaming-app/client/lerna-debug.log*

All Projects/13. Video Streaming Application React/video-streaming-app/client/node_modules/
All Projects/13. Video Streaming Application React/video-streaming-app/client/dist
All Projects/13. Video Streaming Application React/video-streaming-app/client/dist-ssr
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.local

# Editor directories and files
All Projects/13. Video Streaming Application React/video-streaming-app/client/.vscode/*
All Projects/13. Video Streaming Application React/video-streaming-app/client/!.vscode/extensions.json
All Projects/13. Video Streaming Application React/video-streaming-app/client/.idea
All Projects/13. Video Streaming Application React/video-streaming-app/client/.DS_Store
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.suo
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.ntvs*
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.njsproj
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.sln
All Projects/13. Video Streaming Application React/video-streaming-app/client/*.sw?