.gitignore
Other Practices/Food Deliver Project (HTML CSS)/
All Projects\3.Project 27th Nov VS Code Clone\tailwind.config.js
All Projects\4. Credit Card Landing Page (Dec 10th-11th)\tailwind.config.js
Other Practices\JavaScript Practice\node_modules