* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #2b2923;
}
.body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.navbar {
    display: flex;
    color: #f1f0ee;
    justify-content: space-between;
    align-items: center;
    margin: 20px 130px 0px 130px;
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow-list {
    display: flex;
    list-style: none;
    color: #a7a59f;
    gap:30px;
    margin: 0px 20px 0px 0px;
}
.list-item:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Logo */
.logo img {
    width: 130px;
}

/* Button */
.nav-items button {
    color: #9d8d36;
    border: 1px solid #8b7e33;
    border-radius: 7px;
    height: 45px;
    width: 120px;
    font-weight: 600;
    font-size: 14px;
}
.nav-items button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .15s ease-in-out;
}


/* Hero Section */
.main-section {
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
}

.main-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 70px;
}

.main-upper h1 {
    width: 50%;
    color: #f1f0ee;
    font-size: 60px;
    margin-right: 60px;
    line-height: 80px;
}

.main-upper p {
    width: 50%;
    color: #f1f0ee;
    /* margin-right: 55px; */
    margin-left: 40px;
    /* margin-right: 3vw;
    margin-left: 1vw; */
    padding-left: 180px;
    padding-right: 25px;
}

/* main image */
.main-lower img {
    width: 75vw;
    max-width: 1200px;
}

.main-lower {
    display: flex;
    justify-content: center;
}