*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: hsla(184, 6%, 49%, 0.451);
}

p {
  font-family: sans-serif;
  font-size: 1.8rem;
  text-align: center;
  height: 70px;
}

@media only screen and (max-width: 400px) {
  p {
    font-size: 1.5rem;
  }
}

.container {
  width: 100%;
  height: 85vh;
  margin: auto;
  border-radius: 20px;
  background-color: #758283;
  position: relative;
  box-shadow: 0px 10px 15px hsl(192, 5%, 21%);
}

.circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #fff;
}
