/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
    --main-bg: hsl(210, 29%, 97%);
    --blue: hsl(241, 75%, 65%);
}

.wrapper-container {
    overflow-x: hidden;
}

/* Common For All */
.btn {
    background-color: var(--blue);
    color: #ffffff;
    width: 150px;
    height: 50px;
    border: 2px solid var(--blue);
    border-radius: 100vmax;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: var(--blue);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.p-15 {
    padding: 15px;
}


/* Navbar */
.header-section {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url(../Assets/Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 85%;
}

.toggle-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 40px;
    padding: 1px;
    cursor: pointer;
}

.bar {
    width: 90%;
    height: 6px;
    border-radius: 100vmax;
    background: var(--blue);
}

.nav-list-container {
    display: none;
}

.line {
    height: 2px;
    width: 90%;
    margin: auto;
    background-color: hsla(0, 0%, 100%, 0.325);
}