.profile:hover .options {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 45px;
}

.profile-arrow {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.profile:hover .profile-arrow {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
