@media only screen and (min-width: 768px) {
  /* Navbar */
  .navbar-container {
    padding-top: 40px;
  }

  .toggle-bar {
    display: none;
  }

  .nav-elements-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .grow-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .grow-list a {
    color: #ffffff;
    font-weight: 500;
  }

  .grow-list .list-item {
    position: relative;
  }

  .grow-list .list-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    background-color: #ffffff;
    transform-origin: bottom center;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  .grow-list .list-item:hover::after {
    width: 70%;
    left: 17%;
  }

  .grow-list .list-item {
    transition: 0.2s ease-in-out;
  }

  .grow-list .list-item:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }

  .nav-btn {
    width: 150px;
    height: 50px;
  }

  /* Hero Section */
  .hero-container {
    flex-direction: row;
  }

  .main-img {
    right: 75px;
  }

  @container (min-width: 800px) {
    .main-img {
      right: 100px;
    }
  }

  .hero-right {
    margin-top: 10px;
  }

  .on-ear {
    left: 60px;
  }

  .hero-heading {
    margin-top: -25px;
  }

  /* Logo Section */
  .logo-container {
    gap: 135px;
    padding-top: 20px;
  }

  /* Mid Section */
  /* Specs */
  .specs-container {
    margin-top: 130px;
  }

  .specs-main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .specs-details {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .spec-features {
    width: 150px;
  }

  .specs-details > div:nth-child(1) {
    position: relative;
    top: 0px;
    left: 30px;
  }

  .specs-details > div:nth-child(2) {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .specs-details > div:nth-child(3) {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .specs-details > div:nth-child(4) {
    position: relative;
    top: 0px;
    left: 30px;
  }

  /* Case */
  .case-main{
    gap: 80px;
  }

  /* Offer/Buy Now Section */
  .offer-image-container-mobile {
    display: none;
  }

  .offer-image-container {
    display: flex;
  }

  .offer-container {
    flex-direction: row;
    padding: 40px 20px;
  }

  /* Footer */
  .footer-container {
    gap: 100px;
  }

  .footer-list-container {
    gap: 100px;
  }

  .footer-form > input {
    width: 320px;
  }

  .twitter-logo {
    top: 60px;
    left: 0px;
  }

  .up-arrow-img {
    right: 40px;
  }
}
